#homeh2{
    color:black;
    text-align: center;
    letter-spacing:6px;
    border-bottom: solid 2px;
    
}
#HomeAlertHead{
    text-align: center;
    font-size: 30px;
}

#HomeAlertP{
    text-align: center;
    font-size: 30px;
    
}