#logo1{
    color: White;
}
#logo2{
    color: black;
}

#offcanvasNavbarLabel{
    background-color:white;
}

#menupont{
    color: white;
    background-color: black;
}

#offcanvasNavbar{
    background-color: white;
   
    
}

.nav{
    background-color:black;
}

